PORT=3000

# AWS S3 Configuration (For external file storage)
# If left blank or invalid, the app will gracefully fallback to local Base64 storage.
AWS_ACCESS_KEY_ID=dummy-key
AWS_SECRET_ACCESS_KEY=dummy-secret
AWS_REGION=us-east-1
AWS_S3_BUCKET=pimh-lms-uploads
